.container {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .headding {
    color: #a7b4ca;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .optionCont {
    .ul {
      height: 100px;
      overflow-x: scroll;
      background-color: #4a628a;
      display: flex;
      flex-direction: column;
      border-radius: 6px;
      width: 140px;

      .li {
        display: flex;
        justify-content: space-between;
        padding: 2px 5px;
      }
    }
    ul::-webkit-scrollbar {
      width: 0;
    }

    .optionHeader {
      position: relative;
      .optionHeaderInput {
        background-color: #4a628a;
        border: 1px solid #a7b4ca;
        outline: none;
        padding: 3px;
        width: 140px;
      }

      .arrow {
        position: absolute;
        background-color: #4a628a;
        right: 5px;
        top: 0px;
        font-size: 13px;
        border-left: 1px solid #a7b4ca;
        height: 100%;
        padding-left: 6px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

/* .select {
  appearance: none;
  outline: 10px red;
  border: 1px solid #37598e;

  box-shadow: none;
  flex: 1;
  padding: 0.1em;
  color: #a7b4ca;

  background-color: #37598e;
  background-image: none;
  cursor: pointer;
}
.select::-ms-expand {
  display: none;
}
.optionCont {
  position: relative;
  display: flex;
  width: 10em;
  height: 2em;
  border-radius: 0.25em;
  overflow: hidden;
}
.optionCont::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px 16px;
  background: #37598e;
  pointer-events: none;
  border: 1px solid #a7b4ca;
  color: #a7b4ca;
}
.optionCont:hover::after {
  color: black;
} */
